// COLORS
color-gray-dark = #404040
color-gray-medium = #868686
color-gray-light = #a6a6a6

color-text-default = color-gray-dark
color-link-default = color-gray-dark
color-link-default = color-gray-dark
color-link-hover = color-gray-medium

color-document-bg = white

// FONTS
font-stack-primary = 'Open Sans', Arial, sans-serif

font-weight-thin = 300
font-weight-normal = 400
font-weight-bold = 700
font-weight-black = 900

// RUPTURE MEDIA QUERRIES
rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

// LOST GRID
@lost gutter 1rem