.page
  padding 0

// PAGE SCROLL

.page--scroll
  display flex
  flex-direction column
  padding 0

  .page__section
    flex 1
    height 100vh
  
// PAGE SPLIT

.page--split
  display flex
  height 100vh
  
  .page__section
    flex 1
  