.panel
  opacity 0
  padding 10px
  border 3px solid color-gray-light
  transition 0.2s all ease-out
  margin-bottom 10px
  background color-gray-dark
  color color-light
  animation fadein 0.3s
  animation-timing-function ease-out
  animation-fill-mode forwards
  
  for i in 1..100
    &:nth-child({i+1})
      animation-delay (i/4)s
  
  &:last-child
    margin-bottom 0
  
.panel:hover
  background color-light
  color color-gray-dark

.panel__wrapper__link
  display block
  
.panel__headline
  margin-bottom 5px
  
.panel__headline__link
  font-size font-size-default
  color color-gray-light
  
.panel__description
  font-size font-size-small
  