*
*:before
*:after
  box-sizing border-box

body
  font 16px
  lost-utility clearfix
  color color-gray-dark

a
  color color-gray-dark
  text-decoration none

h1
  background color-gray-dark
  padding 20px
  font-weight normal
  
  a
    color color-light

h1, h2
  color #554037
  margin 0