@import "util/config"
@import "util/normalize"
@import "components/panel"
@import "layout"


code
  background #F2E5DA
  display block
  padding 5px
  
  p > &
    display inline
    
p
  line-height 1.5em
  margin 0
  
.container
  lost-column: 1/2
  

    
.container--fixed
  position fixed
  background #F7EBE1
  height 100%
  overflow scroll
  padding-bottom 10px
  
#readmeContainer
  height 100%
  padding 10px

#repoContainer
  padding 10px
  padding-left 0
  
@keyframes fadein
  from { opacity: 0; }
  to   { opacity: 1; }
  
  
    