@lost gutter 20px;

*
  box-sizing border-box
  
body
  background #888888
  padding 0
  margin 0
  lost-utility clearfix
  font-family 'Roboto', sans-serif
  color #87746C
  
h1, h2
  color #554037
  
code
  background #F2E5DA
  display block
  padding 5px
  
  p > &
    display inline
    
p
  line-height 1.5em
  
.container
  lost-column: 1/2
  padding 20px

.repo__item
  opacity 0
  background white
  border 4px solid #dddddd
  padding 10px
  margin-bottom 10px
  animation fadein 0.3s
  animation-timing-function ease-out
  animation-fill-mode forwards
  
  for i in 1..100
    &:nth-child({i+1})
      animation-delay (i/4)s
    
  &:last-child
    margin-bottom 0
    

    
.container--fixed
  position fixed
  background #F7EBE1
  height 100%
  overflow scroll
  padding-bottom 10px
  
#readmeContainer
  height 100%

#repoContainer
  padding-left 0
  
@keyframes fadein
  from { opacity: 0; }
  to   { opacity: 1; }
    