color-light = white
color-gray-light = #acacac
color-gray-dark = #3e3e3e
color-font = color-gray-dark

font-stack-primary = 'Open Sans', sans-serif

font-size-default = 16px
font-size-small = 12px
font-size-large = 24px

@lost gutter 10px